---
theme :
  name : bootstrap-3
layout: default
---
{% include JB/setup %}
{% include themes/bootstrap-3/page.html %}

    <header class="site-head">
        <div class="vertical">
            <div class="site-head-content inner">
                {{#if @blog.logo}}
                    <a class="blog-logo" href="/"><img src="{{site.blog.logo}}" alt="{{site.title}}" /></a>
                {{else}}
                    <h1 class="blog-title">{{@blog.title}}</h1>
                {{/if}}
                <div class="head-info">{{> headInfo}}</div>
            </div>
        </div>
    </header>
<div class="topnav_anchor"></div>
<nav class="topnav">
    <div class="inner">
        <a href="{{blog.url}}"><img class="minilogo" src="{{site.blog.minilogo}}" /></a>
        {{> topnav}}
    </div>
</nav>
<main class="content" role="main">
    <article class="{{post_class}}">
        {{#post}}
            <h1 class="post-title">{{{title}}}</h1>
            <section class="post-content">
                {{content}}
            </section>
        {{/post}}
    </article>
    <div class="center">
        <a href="/registration/" class="button">Join the conversation.<br>Get your membership.</a>
    </div>
</main>
